{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-container">
  <h1>My Profile</h1>

  <div class="profile-card">
    <div class="profile-avatar">
      <i class="fas fa-user-circle"></i>
    </div>

    <div class="profile-details">
      <p><strong>Username:</strong> {{ user.username }}</p>
      {% if user.is_school_admin %}
          <p><strong>School:</strong> {{ user.school.name }}</p>
      {% endif %}
      {% if user.is_superuser %}
          <p><strong>Role:</strong> Superuser</p>
      {% else %}
          <p><strong>Role:</strong> School Admin</p>
      {% endif %}
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  </div>

  <a href="{% url 'logout' %}" class="btn">Logout</a>
</div>
{% endblock %}
